{% extends "base.html" %}
{% block title %}Favorites{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="p-5 text-center myShadow text-light" style="font-size:3em">Favorites</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for pizza in favorites %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Pizza Image">
                    <h3 class="card-title"><strong>{{ pizza.name }}</strong></h3>
                    <h4 class="card-text">{{ pizza.description }}</h4>
                </div>
                <div class="card-footer">
                    <h4><strong>${{ pizza.price }}0</strong></h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <a href="{{ url_for('menu') }}" class="btn btn-outline-info">Back to Menu</a>
    </div>
</div>
{% endblock %}